.auth{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100vh;
	&__top{
		color: #202020;
		margin-bottom: 50px;
		h2{
			 font-size: 28px;
			 margin: 5px;
		}
		p, a{
			font-size: 18px;
			letter-spacing: 0.13px;
			line-height: 21px;
			opacity: 0.5;
		}
	}
	.block{
		min-width: 500px;
		width: 100%;
		a{
			color: #adadad;
			letter-spacing: 0.1px;
			font-size: 16px;
		}
	}
	.button{
		text-transform: uppercase;
		font-weight: 500;
		font-size: 14px;
		letter-spacing: 0.1px;
		width: 100%;
	}
}