.archive-chat{
	display: flex;
	align-items: center;
	padding: 10px 20px;
	border-bottom: 1px solid #fafafa;
	&.active{
		background-color: #fafafa;
	}
	.avatar{
		width: 50px;
		height: 50px;
		border-radius: 50%;
		display: block;
		margin-right: 10px;
		margin-bottom: 10px;
		overflow: hidden;
		img{
			width: 100%;
		}
	}
	.content{
		width: 100%;
		max-width: 160px;
		display: block;
		.name{
			margin-bottom: 0;
		}
		.last-message{
			color: #ccc;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}
	}
	.info{
		display: flex;
		align-self: flex-start;
		flex-wrap: wrap;
		color: #ccc;
	}
}

.users-online{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	.user{
		text-align: center;
		margin-right: 10px;
		margin-bottom: 10px;
		.avatar{
			width: 50px;
			height: 50px;
			border-radius: 50%;
			display: block;
			overflow: hidden;
			margin-bottom: 5px;
			img{
				width: 100%;
			}
		}
	}
}